.searchBox {
  display: flex;
  flex-direction: row;
  height: 5vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.textBox {
    width: 300px;
    height: 30px;
}
.btn {
    height: 35px;
}
input {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .searchBox {
        display: flex;
        flex-direction: column;
        height: 5vh;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
  }